div.group {
  border: 1.75px gray solid;
  border-radius: 3px;
  padding: 1rem;
}

h2.group-title {
  position: absolute;
  transform: translateY(-40px);
  font-size: medium;
  font-weight: 600;
  background-color: white;
  padding: 0 0.5rem;
}

input:not([type="file"]),
select {
  padding: 0.25rem;
  border: 1px solid gray;
  border-radius: 3px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
