.container {
  width: 50%;
  height: 100px;
  margin: 20px;
  background-color: lightcoral;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.text-blok {
  font-size: 2em;
  background-color: lightseagreen;
  color: white;
  width: max-content;
  padding: 10px;
}

.html {
  font-size: 2rem;
  background-color: lightslategray;
  color: white;
  width: max-content;
  padding: 10px;
}

.h1 {
  font-size: 2vw;
  background-color: lightgoldenrodyellow;
  color: black;
  width: max-content;
  padding: 10px;
}

.icon {
  font-size: 2vmin;
  background-color: lightpink;
  color: black;
  width: max-content;
  padding: 10px;
}
